:root {
  --link-color: #ff5050;
  --font-type: 'Poppins', sans-serif;
  --font-second: 'Libre Baskerville', serif;
  --shadow: 5px 5px 0px 0px rgba(117, 117, 117, 0.44);
  --border: solid 0.01em #f2f2f2;
}

/* animations */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
}

/* general */

html{
  scroll-behavior: smooth;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 50em;
  margin: auto;
  margin-bottom: 6em;
  text-align: center;
}

#intro h1{
  font-family: var(--font-second);
  font-size: 5em;
  margin: 0;
  animation: fadeInUp 0.9s;
  -webkit-animation: fadeInUp 0.9s;
}

#intro p{
  font-family: var(--font-type);
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0;
  animation: fadeInUp 0.9s;
  -webkit-animation: fadeInUp 0.9s;
}

#intro a {
  padding-top: 0.8em;
  text-decoration: none;
  border-radius: 0.1em;
  width: 100%;
  height: 2.5em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  animation: fadeInUp 0.9s;
  -webkit-animation: fadeInUp 0.9s;
}

#intro a {
  width: 100%;
  color: #000;
}

#intro a:hover,
#intro a:focus  {
  background-color: var(--link-color);
  transform: scale(1.10, 1.10);
  color: #fff;
  transition: all 0.2s;
  outline: none;
}

.none{
  display: none !important;
  transition: all 0.2s;
}

/* .nav-slide {
  left: 0;
}

.slide {
  left: 30em !important;
  transition: left 0.65s;
}

.slideBtn{
  left: 25em !important;
  transition: left 0.65s;
} */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

#container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em auto;
  overflow-x: scroll;
  background-color: #fff;
  border: var(--border);
	box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.18);
  transition: left 0.65s;
}

#burger{
  position: fixed;
  top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 0.65s;
  width: 4em;
  height: 4em;
  background-color: #fff;
  border: solid 0.01em #f2f2f2;
  box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.18);
  cursor: pointer;
}

#burger span{
  text-align: center;;
  font-size: 2em;
  cursor: pointer;
}

nav {
  text-align: center;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: scroll;
  height: auto;
  width: 90%;
  margin: auto;
  transition: all 0.2s;
  box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.18);
  font-family: var(--font-type);
  font-size: 1.2em;
  border: solid 0.1em #f2f2f2;
}

nav::-webkit-scrollbar {
  display: none;
}

.sticky {
  position: fixed;
  -webkit-animation: bounceInDown 0.65s;
  animation: bounceInDown 0.65s;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

/* .sticky + #container {
  padding-top: 10em;
} */

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  border: var(--border);
  margin: 0;
  margin-bottom: 1em;
}

nav ul li{
  background-color: #fff;
  padding: 1em;
  border-right: var(--border);
  display: grid;
  grid-template-rows: 50% 50%;
}

.none-li{
  animation: fadeOutLeft 0.65s;
  -webkit-animation: fadeOutLeft 0.65s;
  display: none;
}

.white {
  text-align: center;
  margin: 0;
  font-size: 1em;
}

.color{
  background-color: #ffa64d;
}

nav ul li:hover{
  background-color: var(--link-color);
  transition: all 0.2s;
}

nav ul li:hover a {
  color: #fff;
}

nav a{
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  transition: all ease-in-out 0.2s;
  width: 15em;
}

nav a:focus{
  color: var(--link-color);
  text-decoration: underline;
  outline: none
}

main section {
  padding: 3em;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: margin 700ms;
}

section h1{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 2em;
}

section h2{
  text-align: center;
  width: 100%;
  font-family: 'Poppins', serif;
  font-weight: bold;
  font-size: 1em;
  margin-top: 2em;
}

section p{
  font-family: 'Poppins', sans-serif, helvetica;
  font-weight: lighter;
  line-height: 1.6em;
  font-size: 1.2em;
}

.left {
  width: 50%;
  border: none;
  margin: 0;
  padding: 1.5em;
  border-bottom: var(--border);
}

.left img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: solid 0.1em #f2f2f2;
  box-shadow: 0px 1px 1px #888
}

.left a {
  margin: 2em auto;
  transition: all 0.2s;
  color: #fff;
  text-decoration: none;
}

.left a:hover,
.left a:focus {
  transform: scale(1.10, 1.10);
  transition: all 0.2s;
  outline: none;
}

.right {
  align-items: center;
  flex-direction: column;
  width: 50%;
  border: none;
  margin: 0;
  padding: 1.5em;
  border-left: var(--border);
  border-bottom: var(--border);
}

.right a {
  text-align: center;
  font-family: var(--font-second);
  text-decoration: none;
  color: #000;
  font-size: 3em;
  transition: all 0.2s;
  text-decoration: underline;
}

.right a:hover,
.right a:focus {
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
  color: var(--link-color);
  outline: none;
}

#peace{
  border-radius: 0.1em;
  width: 100%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  cursor: pointer;
}

#peace:hover,
#peace:focus  {
  background-color: var(--link-color);
  transform: scale(1.05, 1.05);
  color: #fff;
  transition: all 0.2s;
  outline: none;
}

#toggle-peace {
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  animation: fadeInUp 0.65s;
  -webkit-animation: fadeInUp 0.65s;
}

#toggle-peace h2 {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.2s;
}

#toggle-peace h2:hover {
  transform: scale(1.05, 1.05);
  color: var(--link-color);
  transition: all 0.2s;
}

#toggle-peace h1 {
width: 18em;
}

#toggle-peace p {
  width: 30em;
}

#good {
  border-radius: 0.1em;
  width: 100%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  cursor: pointer;
}

#good:hover,
#good:focus  {
  background-color: var(--link-color);
  transform: scale(1.05, 1.05);
  color: #fff;
  transition: all 0.2s;
  outline: none;
}

#false{
  background-color: #fff;
  color: #000;
  width: 10em;
  height: 5em;
  margin: 1em auto;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 0 0;
  text-decoration: underline;
  outline: none;
  border: 0;
}

#slider{
  width: 15em;
}

#enlarge{
  transition: font-size 700ms;
  width: auto;
  margin: 0;
}

#demo{
  margin: 0;
  width: auto;
}

canvas{
  width: 30em;
  height: 30em;
  border: solid;
}

.right button{
  width: 5em;
  height: 2em;
  margin: 1em;
  font-size: 1em;
  border-radius: 0.2em;
}

.right form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}

.right form label {
  font-family: var(--font-type);
  margin-top: 1em;
}

.right div{
  display: flex;
  flex-direction: row;
}

input {
  border: var(--border);
  text-align: center;
}

input:focus {
  transform: scale(1.05, 1.05);
  outline: none;
}

input:invalid:focus {
  background-color: #ff9999;
  transition: all 0.2s;
}

input:valid {
  background-color: #ddffcc;
  transition: all 0.2s;
}

.right form div button {
  border-radius: 0.1em;
  width: 50%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  transition: all 0.2s;
  cursor: pointer;
}

.right form div button:hover,
.right form div button:focus {
  background-color: var(--link-color);
  transform: scale(1.10, 1.10);
  transition: all 0.2s;
  color: #fff;
  outline: none;
}

.right form input{
  width: 20em;
  height: 3em;
}

.right input{
  width: 50%;
  height: 3em;
}

.fa {
  color: #fff;
  text-decoration: none;
  font-family: var(--font-type);
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa {
  color: #fff;
  text-decoration: none;
  font-family: var(--font-type);
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #fff !important;
  text-decoration: none !important;
  font-family: var(--font-type) !important;
  background: #3B5998;
  color: white;
}

#overlay-form-toggle {
  border-radius: 0.1em;
  width: 100%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  cursor: pointer;
}

#overlay-form-toggle:hover,
#overlay-form-toggle:focus {
  background-color: var(--link-color);
  transform: scale(1.05, 1.05);
  color: #fff;
  transition: all 0.2s;
  outline: none;
}

#overlay-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: fadeInUp 0.65s;
  -webkit-animation: fadeInUp 0.65s;
}

#overlay-form .section {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

#overlay-form label {
  font-family: var(--font-type);
  margin-bottom: 1em;
}

#next,
#close {
  border-radius: 0.1em;
  width: 50%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  transition: all 0.2s;
  cursor: pointer;
}

#prev {
  border-radius: 0.1em;
  width: 10%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  transition: all 0.2s;
  font-size: 0.8em;
  transition: all 0.2s;
  cursor: pointer;
}


#next:hover,
#next:focus,
#close:hover,
#close:focus,
#prev:hover,
#prev:focus {
  background-color: var(--link-color);
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
  color: #fff;
  outline: none;
}

/* detail-page */

.back {
  text-align: center;
  margin: 2em auto;
  border-radius: 0.1em;
  width: 50%;
  height: 3em;
  border: solid 0.1em var(--link-color);
  color: #000;
  background-color: #fff;
  font-family: var(--font-second);
  font-size: 0.8em;
  transition: all 0.2s;
  cursor: pointer;
}

.back:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
  background-color: var(--link-color);
  color: #fff;
}

#box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

iframe {
  width: 60%;
  height: 50em;
  border: var(--border);
  box-shadow: var(--shadow);
}

.text {
  width: 30%;
}
