h1 {
  font-family: sans-serif;
  text-align: center;
}

.noscroll{
  overflow-y: hidden;
}

.none{
  opacity: 0;
}

#gallery{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#gallery .small{
  margin-top: 1em;
  width: auto;
  height: 5em;
  cursor: pointer;
  transition: al 0.2s;
}

.small:hover {
  transform: scale(1.10, 1.10);
}

.overlay{
  padding-top: 6em;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color: #fff;
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.close-animation {
  animation: fadeout 0.3s;
  opacity: 0;
  pointer-events: none;
}

.disabled-arrow {
  pointer-events: none;
  opacity: 0;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.imagebox{
  width: 100%;
  margin: auto;
  text-align: center;
}

.next{
  margin-left: 1em;
  width: 3em;
  height: 3em;
  background-color: #ccc;
  border: 0;
  border-radius: 0 50% 50% 0;
}

.previous{
  display: none;
}

.previoustwo{
  margin-right: 1em;
  display: block;
  width: 3em;
  height: 3em;
  background-color: #ccc;
  border: 0;
  border-radius: 50% 0 0 50%;
}

.bigimg{
  margin-top: 1em;
  height: 15em;
}

.buttonbox{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.close{
  width: 1em;
  padding: 1em;
  background-color: #ccc;
  margin: 1em auto;
}

.close::before {
  content: "x";
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: lighter;
}

@media(min-width: 37.5em){
  #gallery{
    width: 80%;
    justify-content: space-between;
  }

  #gallery .small{
    width: auto;
    height: 10em;
    margin: 1em;
  }

  .overlay{
    padding-top: 1em;
  }

  .bigimg{
    height: 45em;
  }

  .previous{
    margin-right: 1em;
    display: block;
    width: 3em;
    height: 3em;
    background-color: #ccc;
    border: 0;
    border-radius: 50% 0 0 50%;
  }

  .previoustwo{
    display: none;
  }


}
