.noscroll{
  overflow-y: hidden;
}

.none{
  opacity: 0;
}

#gallery{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#gallery .small{
  margin-top: 1em;
  width: auto;
  height: 5em;
  cursor: pointer;
}

.overlay{
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.67);
  text-align: center;
}

.overlay.transform{
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  z-index: 2;
  width: 110% !important;
  height: 110% !important;
}


.imagebox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.next{
  width: 3em;
  height: 3em;
  background-color: #fff;
}

.previous{
  width: 3em;
  height: 3em;
  background-color: #fff;
}

.bigimg{
  height: 15em;
}

.close{
  width: 3em;
  height: 3em;
  background-color: #fff;
}

@media(min-width: 37.5em){
  #gallery{
    width: 80%;
    justify-content: space-between;
  }

  #gallery .small{
    width: auto;
    height: 10em;
    margin: 1em;
  }

  .bigimg{
    height: 30em;
  }



}
